---
---
@charset "utf-8";

$base-font-family: 'din-2014', 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2rem;

$headings-color:   #231f20;
$text-color:       #58595b;
$secondary-text:   #808285;
$brand-color:      #f5841f;

@import
  "base",
  "typography",
  "syntax-highlighting",
  "home"
;
