.home {
  width: 85%;
  max-width: 50rem;
  margin: 4rem auto;
  padding: 0;
  display: grid;
  grid-template: 50px auto auto / repeat(2, 1fr);
  grid-gap: 3rem 6rem;
  .home__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    .logo {
      width: 20rem;
      margin-left: -3.25rem;
      @media screen and (max-width: 825px) {
        margin-left: 0;
      }
      @media screen and (max-width: 725px) {
        width: 85vw;
      }
    }
    .logo__name {
      fill: $headings-color;
    }
    .logo__tagline {
      fill: $brand-color;
    }
  }
  .home__contact {}
  .home__education {}
  .home__skills {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
  .home__experience {
    .experience__block {
      margin: 0 0 1.5rem;
    }
  }
  @media screen and (max-width: 725px) {
    grid-template: 100px auto / 1fr;
    grid-gap: 2rem 0;
    .block {
      grid-column-end: -1;
    }
  }
}
